/* My first website date:17/04/22, it may contain several errors */
/* In the future more prepared I will return */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background:linear-gradient(95deg, #F7DA8A,  #FFF89E,  #FCE7B2 );
    /*overflow: hidden; /* DESATIVA A BARRA DE ROLAGEM "SCROLL" */
    height: 100%;
    overflow: hidden;
}

.container {
    padding: 0px 0px;
}

/* START SECTION OF HEADER */
img{
    width:50px;
}

header, img, a {
    justify-content: center; 
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
}

.header {
    background: #646311;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
}

.logo img, a {
    padding: 1px;
    margin: 2px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 70px;
}

.menu li a {
    display: block;
    padding: 10px;
   /* background: repeating-radial-gradient(black, transparent 100px) */
}

.menu li a:hover {
    color: black;
}
/*----END SECTION OF HEADER----*/

/*----START SECTION OF MAIN----*/
.main div h1 {
    font-size: 5.0em;
    display: flex;
    justify-content: center;   
}

.zona {
    font-size: 1.5rem;
    margin: 10px;
}
/*----END SECTION OF MAIN----*/

/*----START SECTION OF ASIDE----*/
aside {
    width: 100vw;
    height: 50vh;
    background: yellowgreen;
    padding: 165px;

}

details {
    text-align: center;
    background: rebeccapurple;
}

summary {
    background: red;
}

.atencao summary {
    font-size: 1.5rem;
    font-family: sans-serif;
}

aside p {
    font-size:1.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*----END SECTION OF ASIDE----*/

/*----START SECTION OF FOOTER----*/
 footer img{
    width: 40px;
    height: 40px;
}

footer {
    width: 100vw;
    height: 23vh;
    background: #1e070761;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer a {
    margin: 20px;
    text-align: center;
    font-size: 1.2rem;
}

footer p {
    margin-top: -1px;
    color: orangered;
}

address{
    margin: 10px;
}
/*----END SECTION OF FOOTER----*/


@media(max-width:785px) 
{
    header {
        flex-direction: column;
    }

    header ul li a {
        text-align: center;
    }

}